.search__widget,
.sorting__widget select {
  padding: 7px 15px;
  border: 1px solid #fcd2027e;
  border-radius: 5px;
  cursor: pointer;
}
.search__widget input {
  border: none;
  width: 100%;
}

.search__widget input:focus {
  outline: none;
  width: 100%;
}

.seccion-sticky {
  display: flex;
  height: 80px;
  box-shadow: rgba(100, 100, 111, 0.2) 5px 5px 15px -10px;
  background-color: #fcfcfc;
  align-items: center;
  top: 80px;
  place-content: center;
  position: sticky;
  z-index: 100;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .search__widget {
    width: 100%;
    margin-bottom: 20px;
  }
  .search__widget input {
    width: 100%;
    font-size: 0.8rem;
  }
  .sorting__widget select {
    width: 100% !important;
    font-size: 0.8rem;
  }
}
