.review__text {
  color: #777;
  line-height: 30px;
  margin: 40px 0px;
}

.slider__content img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
}

/* SWIPER STYLE*/

.slider-item-stock {
  padding-top: 25%;
  display: flex;
  flex-direction: column;
}
.Contenedor-slider-item {
  padding: 5%;
  margin: 15%;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.swiper-container {
  list-style: none;
}
.swiper-button-prev {
  color: #fcd202 !important;
  color: var(--swiper-navigation-color, #fcd202(--swiper-theme-color)) !important;
}
.slide {
  text-align: center;
  height: 320px;
  line-height: 320px;
  background: #364d79;
  overflow: hidden;
}
.pagination {
  bottom: 0;
  padding-bottom: 4px;
}

/* SLIDER ITEM STYLE*/

.review__text {
  color: #777;
  line-height: 30px;
  margin: 40px 0px;
}

.slider__content img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
}

/* SWIPER STYLE*/

.swiper-container {
  list-style: none;
}
.swiper-button-prev {
  color: #fcd202 !important;
  color: var(--swiper-navigation-color, #fcd202(--swiper-theme-color)) !important;
}
.slide {
  text-align: center;
  height: 320px;
  line-height: 320px;
  background: #364d79;
  overflow: hidden;
}
.pagination {
  bottom: 0;
  padding-bottom: 4px;
}

@media only screen and (max-width: 768px) {
  .review__text {
    font-size: 0.8rem;
    margin: 20px 0px;
  }

  .slider__content img {
    width: 35px;
    height: 35px;
  }

  .slider__content h6 {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .review__text {
    font-size: 0.8rem;
    margin: 20px 0px;
  }

  .slider__content img {
    width: 35px;
    height: 35px;
  }

  .slider__content h6 {
    font-size: 0.8rem;
  }
}
