.sliderItem {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.img-slider {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.stock-limitado {
  height: 40px;
  border: none;
  padding: 5px;
  background: #ea3434;
  display: flex;
  align-items: center;
  place-content: center;
  color: #f8f8f8;
  font-size: 0.9rem;
}

.stock-disponible {
  height: 40px;
  border: none;
  padding: 7px 25px;
  background: #19b949;
  color: #f8f8f8;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  place-content: center;
}
