.Contenedor-slider-item {
  margin: 5%;
  display: flex;
  flex-direction: row;
  place-items: center;
}
.slider-item {
  display: flex;
  flex-direction: column;
  gap: 15%;
  margin: 5px;
}
.img-slider {
  padding: 40px;
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.stock-limitado {
  height: 40px;
  border: none;
  margin: 5px;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #fcd202;
  display: flex;
  align-items: center;
  place-content: center;
  color: #f8f8f8;
  font-size: 0.9rem;
}

.stock-disponible {
  height: 40px;
  border: none;
  margin: 5px;
  padding: 5px;
  background: #fcd202;
  color: #000000;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  place-content: center;
}
/* SLIDER ITEM STYLE*/
.swiper-button-prev {
  color: #21242d !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  background: transparent;
  padding: 0;
  line-height: 20px;
  background-color: #fcd202;
  z-index: 9;
  border-radius: 50%;
}
.swiper-button-prev:hover {
  color: #fcd202 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  background: transparent;
  padding: 0;
  line-height: 20px;
  background-color: transparent;
  border: 2px solid #fcd202;
  z-index: 9;
  border-radius: 50%;
}

.swiper-button-next {
  color: #21242d !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  background: transparent;
  padding: 0;
  line-height: 20px;
  background-color: #fcd202;
  z-index: 9;
  border-radius: 50%;
}
.filter-drop {
  box-shadow: 0 0 8px 8px left to right rgba(3, 3, 3, 0.479) inset;
  -webkit-box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.603);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
  -o-backdrop-filter: blur(3px);
  box-shadow: rgb(252, 210, 2, 0.1) 0px 4px 4px, rgb(252, 210, 2, 0.1) 0px 6px 25px,
    rgb(252, 210, 2, 0.1) 0px 4px 4px;
}
.swiper-button-next:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  background: transparent;
  padding: 0;
  line-height: 20px;
  background-color: transparent;
  border: 2px solid #fcd202;
  color: #fcd202 !important;
  z-index: 9;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.7rem !important;
}

.swiper-pagination-bullet-active {
  background: #fcd202 !important;
}
